* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(97, 16, 10);

    display: flex;
    flex-direction: column;

    align-items: center;
}

body::-webkit-scrollbar {
    width: 0rem;
    right: -10px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container_card {
    width: 100%;
    height: 40vh;

    position: sticky;
    top: 0;
}

#msg_abertura {

    position: absolute;

    z-index: 9999;

    width: 50%;
    height: auto;

    padding: 20px;

    text-align: justify;

    background-color: burlywood;
    border: rgb(61, 42, 16) solid 5px;
    border-radius: 20px;
    box-shadow: inset 0 0 18px 1px black,  2px 5px 5px black;
    color: black;

}

#msg_abertura button {
    font-size: 14px;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: burlywood;

    cursor: pointer;
}

#msg_abertura h1, h3, h4 {
    margin-bottom: 10px;
}

.card {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    transform-style: preserve-3d;

    transition: all 0.5s ease;
}

.face_card {
    width: 336px;
    height: 193px;

    border-radius: 20px;

    border: rgb(153, 134, 107) solid 2px;
}

#container_card:hover .card{
    transform: rotateY(180deg);
}

#frente {
    position: absolute;
    backface-visibility: hidden;

    background-image: linear-gradient(45deg, rgb(44, 28, 6), rgb(100, 69, 27), rgb(133, 101, 59), burlywood, rgb(133, 101, 59), rgb(100, 69, 27), rgb(44, 28, 6));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

#verso {
    position: absolute;
    backface-visibility: hidden;

    background-image: linear-gradient(to right, rgb(44, 28, 6), rgb(100, 69, 27), rgb(133, 101, 59), rgb(155, 125, 85), rgb(133, 101, 59), rgb(100, 69, 27), rgb(44, 28, 6));

    color: #fff;

    transform: rotateY(180deg);
}

#logo_preview {

    width: 150px;
    height: 150px;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.imagePreview {
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#informacoes {
    width: 100%;
    height: 100%;

    padding: 20px;

    text-align: center;
}

#informacoes h1, p {
    margin-bottom: 22px;
}

#informacoes h4 {
    margin-top: 25px;
}


#container_form {
    width: 30%;
    height: auto;

    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

#form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#form label, p {
    color: white;

    margin-bottom: 3px;
}

#form div {
    display: flex;
    flex-direction: column;

    margin-bottom: 5px;
}

#form input {
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    border-radius: 5px;
    margin-bottom: 5px;
}

#menu_btn {

    width: auto;
    gap: 20px;

    display: flex;
    flex-wrap: wrap;

    margin-top: 1.5rem;
}

#menu_btn button {

    cursor: pointer;
    transition: 0.2s;

    width: 60px;
    height: 60px;
    padding: 5px;
    margin-bottom: 5px;

    border-radius: 50%;

    background-color: burlywood;
    border: rgb(153, 134, 107) solid 5px;
    box-shadow: inset 0 0 18px 1px black, 5px 6px 5px 3px rgba(0, 0, 0, 0.616);
}

#menu_btn button:active {

    background-color: rgb(134, 111, 81);
    box-shadow: inset 0 0 18px 1px rgba(0, 0, 0, 0.993), 2px 1px 5px black;
    border: rgb(153, 134, 107) solid 5px;

}

#menu_btn button i {
    font-size: 24px;
}

#clean {

    bottom: 20px;
    right: 350px;

}

#save_frente {

    bottom: 20px;
    right: 270px;

}

#save_verso {

    bottom: 20px;
    right: 190px;

}

#save {

    bottom: 20px;
    right: 110px;

}

#help {
    
    bottom: 20px;
    right: 30px;

}

.popup {
    position: absolute;

    z-index: 999;

    width: 380px;
    height: auto;

    color: rgb(51, 34, 11);

    padding: 20px;

    border-radius: 20px;

    background-color: burlywood;
    border: rgb(153, 134, 107) solid 5px;
    box-shadow: inset 0 0 18px 1px black, 5px 6px 5px 3px rgba(0, 0, 0, 0.616);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.popup h2 {

    flex: 1;
    margin-bottom: 10px;

}

.popup p {
    width: 100%;

    text-align: justify;

    font-size: 18px;

    margin-bottom: 10px;

    color: rgb(51, 34, 11);
}

.popup button {

    font-size: 14px;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: burlywood;

    cursor: pointer;
}

@media print {
    body {
        background-color: #fff;
    }

    #menu_btn {
        display: none;
    }

    .popup {
        display: none;
    }

    #form {
        display: none;
    }

    #container_card {
        width: 100%;
        height: 100%;

        top: 0;
    }

    .card {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;

    }

    .face_card {
        width: 336px;
        height: 193px;

        border-radius: 20px;

        border: rgb(153, 134, 107) solid 2px;
    }

    #frente {
        position: absolute;

        top: 20px;

        background-image: linear-gradient(45deg, rgb(44, 28, 6), rgb(100, 69, 27), rgb(133, 101, 59), burlywood, rgb(133, 101, 59), rgb(100, 69, 27), rgb(44, 28, 6));

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;
    }

    #verso {
        position: absolute;

        top: 220px;

        background-image: linear-gradient(to right, rgb(44, 28, 6), rgb(100, 69, 27), rgb(133, 101, 59), rgb(155, 125, 85), rgb(133, 101, 59), rgb(100, 69, 27), rgb(44, 28, 6));

        color: #fff;

        transform: rotateY(0deg);

    }
}

@media (max-width: 720px) {
    #container_card {
        width: 100%;
        height: 30vh;

    }

    #frente {

    background-image: linear-gradient(45deg, rgb(44, 28, 6), rgb(100, 69, 27), 
    rgb(133, 101, 59), burlywood, rgb(133, 101, 59), rgb(100, 69, 27), 
    rgb(44, 28, 6));

    }

    #verso {

        background-image: linear-gradient(to right, rgb(44, 28, 6), rgb(100, 69, 27), 
        rgb(133, 101, 59), rgb(155, 125, 85), rgb(133, 101, 59), rgb(100, 69, 27), 
        rgb(44, 28, 6));

        color: #fff;
    }

    #container_form {
        width: 80%;
    }

    #save {
        bottom: 50px;
    }

    #clean {
        bottom: 50px;
    }

    #help {
        bottom: 50px;
    }

    #menu_btn {
        width: 90%;

        gap: 10px;

        justify-content: space-around;

    }

    #menu_btn button {
        width: 50px;
        height: 50px;

        padding: 5px;

        text-align: center;

        border: rgb(153, 134, 107) solid 3px;

        background-color: rgb(233, 211, 182);

        box-shadow: inset 0 0 12px 1px black, 5px 6px 5px 3px rgba(0, 0, 0, 0.616);

    }

    #menu_btn button i {
        font-size: 22px;
    }

    #save {
        display: none;
    }

    .info_print {
        display: none;
    }

    .popup {
        width: 95%;

        top: 20%;
        background-color: rgb(233, 211, 182);
    }

}

@media (max-width: 600px) {

    #msg_abertura {

    width: 95%;

    background-color: rgb(233, 211, 182);
    border: rgb(61, 42, 16) solid 5px;
    border-radius: 20px;
    box-shadow: inset 0 0 18px 1px black,  2px 5px 5px black;
    color: black;

    }
}
